.dll
/OnlineOfflineReaderService/obj/
/OnlineOfflineReaderService/bin/
OnlineOfflineReaderService/img
.vs/
*/obj
*/bin
Applications/Inter.HeartbeatListenerAppService/bin/
Applications/Inter.HeartbeatListenerAppService/obj/
Applications/Inter.LifeAlertAppService/Inter.LifeAlertAppService/obj/
Applications/Inter.LifeAlertAppService/Inter.LifeAlertAppService/bin/
Applications/Inter.LifeAlert/obj/
Api/InterApi/obj/
Api/InterApi/obj
*.deb
