*.dll
*.pdb
/OnlineOfflineReaderService/obj/
/OnlineOfflineReaderService/bin/
OnlineOfflineReaderService/img
.vs/
*/obj
*/bin
Applications/Inter.HeartbeatListenerAppService/bin/
Applications/Inter.HeartbeatListenerAppService/obj/
Applications/Inter.LifeAlertAppService/Inter.LifeAlertAppService/obj/
Applications/Inter.LifeAlertAppService/Inter.LifeAlertAppService/bin/
Applications/Inter.LifeAlert/obj/
Api/InterApi/obj/
Api/InterApi/obj
*.deb
**/*.cache
Applications/Inter.LogRecieverAppService/Inter.LogRecieverAppService/obj/Inter.LogRecieverAppService.csproj.nuget.dgspec.json
Applications/Inter.LogRecieverAppService/Inter.LogRecieverAppService/obj/Inter.LogRecieverAppService.csproj.nuget.dgspec.json
Applications/Inter.LogRecieverAppService/Inter.LogRecieverAppService/obj/project.assets.json
Applications/Inter.LogRecieverAppService/Inter.LogRecieverAppService/obj/Inter.LogRecieverAppService.csproj.nuget.dgspec.json
